<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'post_new' %}" class="top-menu">
                +
            </a>
            <a href="/"><h1>My Blog</h1></a>
        </div>
        
    </header>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>© 2025 My Django Blog</p>
    </footer>
</body>
</html>
