{% extends 'blog/base.html' %}

{% block title %}Home - My Django Blog{% endblock %}



{% block content %}
    <h2>Posts</h2>
    {% for post in posts %}
        <div>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.content }}</p>
            <p><small>Published: {{ post.created_at }}</small></p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}
 